.Container {
  margin: 0;
  padding: 1em 1em;
  border: 1px dotted white;
  display: block;
  flex-direction: column;
}

.Band-Title {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: 4ex;
}

.Band-Info {
  margin: 6em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
